*.egg-info
*.pyc
*.swo
*.swp
.cache
.coverage*
.DS_Store
.idea

/.tox
/binaries
/build
/compose/GITSHA
/coverage-html
/dist
/docs/_site
/README.rst
/*venv


# keep away keystore files
is/files/*.jks
is/files/*.pem
